@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #FFF;
    background-color: #333;
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.header-container {
    margin: 0 auto;
    max-width: 100%;
    min-height: 60px;
    padding: 6px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.header-text-top {
    font-size: 30px;
    line-height: 30px;
}

.header-text-button {
    font-size: 18px;
    line-height: 18px;
}

.main-container {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.section {
    width: 400px;
    height: 600px;
    perspective: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.section-box {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.question, .answer {
    background-color: #2F70AF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
}

.answer {
    background-color: #778D45;
    transform: rotateY(180deg);
}

.section-box:hover {
    transform: rotateY(180deg);
}

.question-answer-head {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 40px;
}

.question-answer-text {
    line-height: 30px;
}