  body {
      background-color: greenyellow;
  }
  .header {
      background-color: greenyellow;
  }
  .btn {
      height: 50px;
      font-size: 18px;
      line-height: 24px;
      background: #ff0000;

  }
  .btn {
      cursor: pointer;
  }

  .”header-nav” {
      background-color: greenyellow;
  }

  .”header-nav-link” {
      background-color: greenyellow;
  }

  .”content” {
      background-color: greenyellow
  }

  .”content-title” {
      background-color: greenyellow
  }

  .”content-text-comb” {
      background-color: greenyellow
  }

  .”content-text-save” {
      background-color: greenyellow
  }

  .”content-text-btn” {
      background-color: greenyellow
  }

  .”button” {
      color: #ffffff;
      background-color: #ff0000;
  }

  .footer {
      background-color: greenyellow;
  }

  .footer-text {
      background-color: greenyellow
  }
